<ul>
  <% @customers.each do |customer| %>
    <li><%= link_to customer.name, customer_path(customer) %></li>
  <% end %>
</ul>


  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <p class="btn btn-dark"><%= link_to 'Create a new user', new_customer_path %></p>
  </div>