// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cards-contact{
  border: red solid;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.customer-name{
  padding: 2%;
}